//Mixin 
@mixin tombol {
    display: inline-block;
        color: white;
        background-color: $secondaryColor;
        border-radius: 2em;
        padding: 0.5em 1.5em;
        text-decoration: none;
}
