// Variables
// $backgroundColor: #fae2ee;
// $primaryColor:#FDEBF6;
// $secondaryColor: #7370BF;
// $tertiaryColor:#F89D1C;
// $textColor: #2E1D48;

$backgroundColor: #D1CDC1;
$primaryColor:#FDEBF6;
$secondaryColor: #93806F;
$tertiaryColor:#F89D1C;
$textColor: #8C5D43;
